/*=================header=============*/

#header {
    width: 100%;
    height: 30px;
    background: #f7f9f8;
}

#header .wrap {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

#header .fl li {
    line-height: 30px;
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

#header .fl .city {
    position: relative;
    color: #008842;
}

#header .fl .title {
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 7px 0;
    cursor: pointer;
}

#header .fl .content {
    float: left;
    position: relative;
}

#header .city_name {
    color: #008842;
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    padding: 0 20px 5px 5px;
}

#header .city_name span {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 9px;
    right: 8px;
    width: 8px;
    height: 4px;
    margin-left: 5px;
    background: url(../images/header-img.png) no-repeat 0 0;
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
}

#header .city-con {
    position: absolute;
    top: 28px;
    left: 0;
    width: 482px;
    border: 2px solid #007f4d;
    background: #fff;
}

#header .headline {
    padding: 0 15px;
    line-height: 30px;
    color: #727272;
    background: #ededed;
}

#header .headline a {
    float: right;
    color: #008842;
    font-family: simsun;
    display: inline-block;
    white-space: nowrap;
    margin: 0 5px;
}

#header .city-hot {
    overflow: hidden;
    margin: 10px 15px;
    line-height: 18px;
}

#header .city-hot span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

#header .city-hot i {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(../images/header-img.png) no-repeat left top;
    background-position: -174px 0;
}

#header .city-hot a {
    color: #727272;
    margin: 0 5px;
    float: left;
    display: inline-block;
    white-space: nowrap;
    padding: 3px 10px 3px 15px;
}

#header .citytab {
    margin: 10px 0;
    padding: 0 15px;
}

#header .citytab span {
    display: inline-block;
    width: 19%;
    border: 1px solid #fff;
    border-bottom-color: #e0e0e0;
    text-align: center;
    cursor: pointer;
}

#header .citytab .active {
    border-color: #e0e0e0;
    border-bottom-color: #fff;
}

#header .citylist {
    margin: 0 15px 15px;
}

#header .citylist dl {
    overflow: hidden;
}

#header .citylist dt {
    font: bold 12px/22px Arial, "Microsoft YaHei";
    color: #008842;
    float: left;
    margin-right: 10px;
    text-align: center;
    display: block;
}

#header .citylist dd {
    float: left;
    line-height: 22px;
    display: block;
    overflow: hidden;
}

#header .citylist dd a {
    color: #727272;
    width: 18%;
    margin: 0 0 0 5px;
    line-height: 22px;
    display: inline-block;
    white-space: nowrap;
}

#header .citylist a:hover {
    text-decoration: none;
    color: #008842;
}